span {
    color: white;
    border: 5px solid #28ab38;
    padding: 4px;
    color: #0b5d0b;
    border-right: x;
    border-bottom-right-radius: 0px;
	border-bottom-left-radius: 28px;
    /* padding-right: 22px; */
    background-color: green;
    color: white;
    font-family: areal;
    font-size: 30px;
   
}





.new {
	color: yellow;
    font-size: 48px;
    background-color: green;
    padding: 1px;
	text-align:center;
} 
 
 .new1 {
	 color:yellow;
	 font-size:30px;
	 background-color:green;
	 
 }
 
 .new2 {
	 color:yellow;
	 font-size:30px;
	 background-color:green;
	 
 }
 
 
 
 
 {
	color:white;
    font-size: 72px;
    text-align: center;
	background-color:Tomato;

}



body {
	background-color:lightblue;
	font-family:arial;
	
	
}

p {color:green; font-size:25px;}


/* This is a single-line comment */
